{% extends 'base.html.twig' %}

{% block title %}Bienvenu dans <strong>mon monde</strong> !{% endblock %}

{% block body %}
<h1>Index de mes Jolibrairies</h1>
<table class="table">
    <thead>
        <tr>
            <th>Description</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
  {% for librairie in librairies %}
      

        <tr>
            <td>{{ librairie.description }}</td>
            <td><button class="btn-default"><a href="{{ path('librairie_show', {'id': librairie.id}) }}">Consulter</a></button>
            <button class="btn-default"><a href="{{ path('app_librairie_edit', {'id': librairie.id}) }}">Modifier</a></button>
            {{ include('librairie/_delete_form.html.twig') }}
           </td>

        </tr>
    
  {% endfor %} 
  </tbody>
  {#<button class="btn-default"><a href="{{ path('librairie_new')}}">Ajouter une Jolibrairie</a></button>#}
  </table>
<button class="btn-default"><a href="{{ path('home') }}">Retour</a></button>
{% endblock %}
