{% extends 'base.html.twig' %}

{% block title %}Genres
{% endblock %}

{% block body %}
	<h1>Index des genres</h1>
	<button class="btn-default"> <a href="{{ path('genre_new') }}">Ajouter un genre</a></button>
	<p><i> NB : quand vous ajoutez un genre, celui-ci sera utilisable par tous les membres du site ! </i></p>
	<table class="table">
		<thead>
			<tr>
				<th>Intitulé</th>
				<th> Actions </th>
			</tr>
		</thead>
        <tbody>
		{% for genre in genres %}
			

				<tr>
					<td>{{ genre.intitule }}</td>
					<td><button class="btn-default"><a href="{{ path('genre_show', {'id': genre.id}) }}">Consulter</a></button>
					            <button class="btn-default"><a href="{{ path('app_genre_edit', {'id': genre.id}) }}">Modifier</a></button>
            {{ include('genre/_delete_form.html.twig') }}</td>
				</tr>
			
		{% endfor %}
        </tbody>
	</table>
	<button class="w3-btn"><a href="{{ path('home') }}">Retour</a></button>
{% endblock %}
