{% extends 'base.html.twig' %}

{% block body %}
	<h1>
		Genre
		{{ genre.intitule }}
	</h1>

	{% dump genre %}

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ genre.id }}</td>
			</tr>
			<tr>
				<th>Intitulé</th>
				<td>{{ genre.intitule }}</td>
			</tr>
			<tr>
				<table class="table">
					<thead></thead>
					<tr>
						<th>Livres</th>
					</tr>
				</thead>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<th>
					Titre
				</th>
				<th>
					Action
				</th>
			</tr>
			{% for livre in genre.livre %}

				<tr>
					<td>
						{{livre.titre}}</td>
					<td>
						<a href="{{ path('livre_show', {'id': livre.id}) }}">consulter</a>
					</td>
				</tr>

			{% endfor %}
		</tbody>
	</table>
</tr></tbody></table><a href="javascript:history.go(-1)">Retour</a>{% endblock %}
