{% extends 'base.html.twig' %}

{% block title %}Bienvenue dans mon index de livres !{% endblock %}

{% block body %}
<h1>Bienvenue dans mon index de livres</h1>
<table class="table">
    <thead>
        <tr>
            <th>Titre</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
  {% for livre in livres %}
      

        <tr>
            <td>{{ livre.titre }}</td>
            <td>
            <button class="w3-btn"><a href="{{ path('livre_show', {'id': livre.id}) }}">Consulter</a></button>
            <button class="w3-btn"><a href="{{ path('app_livre_edit', {'id': livre.id}) }}">Modifier</a></button>
            {{ include('livre/_delete_form.html.twig') }}
            </td>
            
            

        </tr>
    
  {% endfor %} 
  </tbody>
  {#<button class="btn-w3"><a href="{{ path('livre_new')}}">Ajouter un nouveau livre</a></button>#}
  </table>
  <button class="w3-btn"><a href="{{ path('home') }}">Retour</a></button>

{% endblock %}
