 {% extends 'base.html.twig' %}

  {% block body %}
      <h1> {{ amateur.nom }} </h1>

         {% dump amateur %}

      <table class="table">
          <tbody>
              <tr>
                  <th>Id</th>
                   <td>{{ amateur.id }}</td>
              </tr>
              <tr>
                  <th>Description</th>
                  <td>{{ amateur.description }}</td>
              </tr>
              <tr>
              <th>Jolibraires</th>
              {% for librairie in amateur.librairie %}
              <table class="table">
              <thead>
              </thead>
                    <tr>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td> {{librairie.description}}</td>
                </tr>
                <td><a href="{{ path('librairie_show', {'id': librairie.id}) }}">consulter</a></td>
                </tbody>
              </table>
              {% endfor %}
              </tr>
          </tbody>
      </table>

      <a href="{{ path('amateurs_list') }}">Retour</a>

  {% endblock %}