{% extends 'base.html.twig' %}

{% block body %}
	<h1>
		{{ amateur.nom }}
	</h1>

	{% dump amateur.etalages %}

	<table class="table">
		<tbody>
			<tr>
				<th>Description</th>
				<td>{{ amateur.description }}</td>
			</tr>
			<tr>
			  <th>Email</th>
			  <td>{{ amateur.user.email }}</td>
			  </th>
				<table class="table">
					<thead></thead>
					<tr>
						<th>Jolibraires</th>
						<td>
							<a href="{{ path('librairie_new', {'id': amateur.id}) }}">Ajouter une nouvelle Jolibrairie</a>
						</td>
					</tr>
				</thead>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<th>
					Description
				</th>
			</tr>
			{% for librairie in amateur.librairie %}
				<tr>
					<td>
						<a href="{{ path('librairie_show', {'id': librairie.id}) }}">{{ librairie }}</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</thead>
	<tr>
		<th>Etalages</th>
		<td>
			<a href="{{ path('app_etalage_new', {'id': amateur.id}) }}">Ajouter un nouvel étalage</a>
		</td>
	</tr>
</tbody></thead></tr></tbody><tbody><tr><th>
Description</th></tr>{% for etalage in amateur.etalages %}<tr>
<td>
	<a href="{{ path('app_etalage_show', {'id': etalage.id}) }}">{{ etalage }}</a>
</td></tr>{% endfor %}</tbody></tbody></table></tbody></table></tr></tbody> </table> <button class="w3-btn"><a href="{{ path('amateurs_list') }}">Retour</a> </button>{% endblock %}
